body{
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
#start-game{
    margin-left: 47.5%;
    box-shadow: 0 0 10px blueviolet;
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.player-1{/* pc*/
    float: left;
    width: 45%;
    height:  100px;
    background-color: red;
    text-align: right;
    padding: 20px;
}

.player-2{/* hráč*/
    float: right;
    width: 45%;
    height:  100px;
    background-color: blue;
    color:white;
    text-align: left;
    padding: 20px;
}